<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8mb4">
    <title>
        {% block title %}Snowtricks
        {% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																																																																																				           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('assets/img/ico/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/ico/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/ico/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/ico/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('assets/img/ico/apple-touch-icon-57x57.png') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <title>Snowtricks</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/pe-icons.css') }}" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
    <script src="{{ asset('assets/js/plugin.js') }}"></script>
</head>


<body id="page-top" class="index">

<div class="master-wrapper">
    {% include "nav.html.twig" %}
    {% if app.request.get('_route') == 'app_home' %}
        {% include "header.html.twig" %}
    {% endif %}


    <div class="preloader">
        <div class="preloader-img">
            <span class="loading-animation animate-flicker"><img src="{{ asset('assets/img/loading.GIF') }}"
                                                                 alt="loading"/></span>
        </div>
    </div>


    {% block body %}{% endblock %}

    {% include "footer.html.twig" %}
</div>


<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        'use strict';#}
{#        jQuery('#headerwrap').backstretch([#}
{#            "{{ asset('assets/img/bg/bg2.jpg') }}", "{{ asset('assets/img/bg/bg3.jpg') }}", "{{ asset('assets/img/bg/bg4.jpg') }}",#}
{#        ], {#}
{#            duration: 7000,#}
{#            fade: 500#}
{#        });#}
{#    });#}
{#</script>#}
</body>
</html>
