{% if app.request.get('_route') == 'app_home' %}
    <!-- START HEADER HOME -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ asset('assets/img/bg/People_Sking.mp4') }}" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3"><strong>SNOWTRICKS</strong></h1>
                    <p class="lead mb-0">Site communautaire pour les passionnés de snowboard !</p>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER HOME -->
{% elseif app.request.get('_route') == 'app_show_trick' or app.request.get('_route') == 'app_trick_edit' %}
    <!-- START HEADER TRICK -->
    <header style="background-color: #5c636a; height: 70vh;">
        <div class="container-fluid"
             style="background: url('{{ picture }}') no-repeat center center; background-size: cover;">
            <div class="row justify-content-center align-items-center text-center" style="height: 70vh;">
                <div class="col-6 rounded section-heading">
                    <h2>{{ trick.name }}</h2>
                    <div class="item-metas text-muted mb30 white">
                            <span class="meta-item"><i
                                        class="pe-icon pe-7s-ticket"></i> Catégorie <span>{{ trick.category.name }}</span></span>
                        <span class="meta-item"><i
                                    class="pe-icon pe-7s-comment"></i> Commentaires <span>{{ trick.comments.count }}</span></span>
                        <span class="meta-item post-date"><i
                                    class="pe-icon pe-7s-clock"></i> Posté le <span>{{ trick.createdAt|date("d/m/Y") }}</span></span>
                        {% if is_granted('ROLE_USER') %}
                            <ul style="list-style-type: none;">
                                <li>
                                    <button class="btn btn-sm btn-link"
                                            style="text-decoration: none; color: black;"
                                            data-link="{{ path('app_trick_edit', {'id': trick.id}) }}"
                                            id="button-edit-trick">
                                        <i class="bi bi-pen"></i>
                                        Modifier
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-sm btn-danger"
                                            data-link="{{ path('app_trick_delete', {'id': trick.id}) }}"
                                            id="button-remove-trick">
                                        <i class="bi bi-trash"></i>
                                        Supprimer
                                    </button>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER TRICK -->
{% else %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endif %}
<div class="row justify-content-center">
    <div class="col-sm-8 blog-item mb60">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-5" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>


