<!-- Navigation -->
{% if app.request.get('_route') == 'app_home' or app.request.get('_route') == 'app_show_trick' %}
	<nav
		class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s" style="background-color: black; opacity: 90%;">
		<!-- Module social network -->
		<div
			class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand smoothie logo logo-light" href="/"><img src="{{ asset('assets/img/snowtricks_logo.png') }}" alt="logo"></a>
				<a class="navbar-brand smoothie logo logo-dark" href="/"><img src="{{ asset('assets/img/snowtricks_logo_reverse.png') }}" alt="logo"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="main-navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="/" class="dropdown-toggle">Accueil
						</a>
					</li>
					{% if is_granted('ROLE_USER') %}
						<li class="dropdown">
							<a href="/trick/add" class="dropdown-toggle" data-hover="dropdown">Ajouter une figure
							</a>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="dropdown">
							<a href="/member_area" class="dropdown-toggle" data-hover="dropdown">Bonjour
								{{ app.user.username }}
							</a>
						</li>
						<li class="dropdown">
							<a href="{{ path('app_logout') }}" class="dropdown-toggle" data-hover="dropdown">Se deconnecter
							</a>
						</li>

					{% else %}
						<li class="dropdown">
							<a href="/login" class="dropdown-toggle" data-hover="dropdown">Se connecter
							</a>
						</li>
						<li class="dropdown">
							<a href="/register" class="dropdown-toggle" data-hover="dropdown">S'inscrire
							</a>
						</li>
					{% endif %}

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

{% elseif app.request.get('_route') == 'app_trick_add' %}
	<nav
			class="navbar navbar-default navbar-fixed-top fadeInDown">
		<!-- Module social network -->
		<div
				class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand smoothie logo logo-light" href="/"><img src="{{ asset('assets/img/snowtricks_logo.png') }}" alt="logo"></a>
				<a class="navbar-brand smoothie logo logo-dark" href="/"><img src="{{ asset('assets/img/snowtricks_logo_reverse.png') }}" alt="logo"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="main-navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="/" class="dropdown-toggle">Accueil
						</a>
					</li>
					{% if is_granted('ROLE_USER') %}
						<li class="dropdown">
							<a href="/trick/add" class="dropdown-toggle" data-hover="dropdown">Ajouter une figure
							</a>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="dropdown">
							<a href="/member_area" class="dropdown-toggle" data-hover="dropdown">Bonjour
								{{ app.user.username }}
							</a>
						</li>
						<li class="dropdown">
							<a href="{{ path('app_logout') }}" class="dropdown-toggle" data-hover="dropdown">Se deconnecter
							</a>
						</li>

					{% else %}
						<li class="dropdown">
							<a href="/login" class="dropdown-toggle" data-hover="dropdown">Se connecter
							</a>
						</li>
						<li class="dropdown">
							<a href="/register" class="dropdown-toggle" data-hover="dropdown">S'inscrire
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

{% else %}
	<nav
		class="navbar navbar-default fadeInDown" data-wow-delay="0.5s">
		<!-- Module social network -->
		<div
			class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand smoothie logo logo-light" href="/"><img src="{{ asset('assets/img/snowtricks_logo_reverse.png') }}" alt="logo"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="main-navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="/" class="dropdown-toggle" style='color: black;'>Accueil
						</a>
					</li>
					{% if is_granted('ROLE_USER') %}
						<li class="dropdown">
							<a href="/trick/add" class="dropdown-toggle" data-hover="dropdown" style='color: black;'>Ajouter une figure
							</a>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="dropdown">
							<a href="/member_area" class="dropdown-toggle" data-hover="dropdown" style='color: black;'>Espace membre
							</a>
						</li>
						<li class="dropdown">
							<a href="{{ path('app_logout') }}" class="dropdown-toggle" data-hover="dropdown" style='color: black;'>Se deconnecter
							</a>
						</li>

					{% else %}
						<li class="dropdown">
							<a href="/login" class="dropdown-toggle" data-hover="dropdown" style='color: black;'>Se connecter
							</a>
						</li>
						<li class="dropdown">
							<a href="/register" class="dropdown-toggle" data-hover="dropdown" style='color: black;'>S'inscrire
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
{% endif %}
