{% extends 'base.html.twig' %}

{% block title %}Trick n°{{ trick.id }}{% endblock %}

{% block body %}
    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="{{ picture }}"
             data-speed="0.7">
        <div class="section-inner text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 mt30 wow">
                        <h2 class="section-heading">{{ trick.name }}</h2>
                        <div class="item-metas text-muted mb30 white">
                            <span class="meta-item"><i
                                        class="pe-icon pe-7s-ticket"></i> Catégorie <span>{{ trick.category.name }}</span></span>
                            <span class="meta-item"><i
                                        class="pe-icon pe-7s-comment"></i> Commentaires <span>0</span></span>
                            <span class="meta-item post-date"><i
                                        class="pe-icon pe-7s-clock"></i> Posté le <span>{{ trick.createdAt|date("d/m/Y") }}</span></span>
                            <div class="bx-trash"></div>
                            <li style="list-style-type: none"><a href="{{ path('app_trick_edit', {'id': trick.id}) }}"><i class="bi bi-pen"></i><span> Editer</span></a></li>
                            <li style="list-style-type: none"><a href="{{ path('app_trick_delete', {'id': trick.id}) }}"><i class="bi bi-trash"></i><span> Supprimer</span></a></li>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div id="post-content" class="col-sm-8 col-sm-offset-2 blog-item mb60 wow">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% if trick.pictures is not empty %}
                            <p style="text-align: center">
                                {% for picture in trick.pictures %}
                                    <img src="{{ picture.fileName }}" alt="test" />
                                {% endfor %}
                            </p
                        {% endif %}
                        {% if trick.videos is not empty %}
                            <p style="text-align: center">
                                <iframe width="560" height="315" src="{{ trick.videos.first.url }}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </p
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-12 single-post-content">
                                <p>{{ trick.content }}</p>


                            </div>
                        </div>
                    </div>

                    <div id="comments-list" class="col-sm-8 col-sm-offset-2 gap wow">
                        <div class="mt60 mb50 single-section-title">
                            <h3>3 Comments</h3>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small
                                                class="secondary-font">30th Jan, 2015</small>
                                    </div>
                                    <p>Was are delightful solicitude discovered collecting man day. Resolving neglected
                                        sir tolerably but existence conveying for. Day his put off unaffected literature
                                        partiality inhabiting.</p>
                                    <a class="btn btn-primary pull-right" href="#">Reply</a>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar comment-avatar" src="" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan,
                                                    2015</small>
                                            </div>
                                            <p>Wicket longer admire do barton vanity itself do in it. Preferred to
                                                sportsmen it engrossed listening. Park gate sell they west hard for the.
                                                Abode stuff noisy manor blush yet the far. Up colonel so between removed
                                                so do.</p>
                                            <a class="btn btn-primary pull-right" href="#">Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.media-->
                            </div>
                        </div>
                        <!--/.media-->
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                    </div>
                                    <p>Quitting informed concerns can men now. Projection to or up conviction uncommonly
                                        delightful continuing. In appetite ecstatic opinions hastened by handsome
                                        admitted.</p>
                                    <a class="btn btn-primary pull-right" href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!--/.media-->

                        <div id="comments-form" class="row wow">
                            <div class="col-md-12">
                                <div class="mt60 mb50 single-section-title">
                                    <h3>Poster un commentaire</h3>
                                </div>
                                <div id="comment_message"></div>
                                <form method="post" id="commentform" class="comment-form">
                                    <input type="text" class="form-control col-md-4" name="name1"
                                           placeholder="Your Name *" id="name1" required
                                           data-validation-required-message="Please enter your name."/>
                                    <input type="text" class="form-control col-md-4" name="email1"
                                           placeholder="Your Email *" id="emzail1" required
                                           data-validation-required-message="Please enter your email address."/>
                                    <input type="text" class="form-control col-md-4" name="website1"
                                           placeholder="Your URL *" id="website1" required
                                           data-validation-required-message="Please enter your web address."/>
                                    <textarea name="comments1" class="form-control" id="comments1"
                                              placeholder="Your Message *" required
                                              data-validation-required-message="Please enter a message."></textarea>
                                    <a class="btn btn-primary pull-right" href="#">Reply</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
